<div class="container">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="well">	
			<h2 class="text-center">Edit Profile</h2>
			<%= image_tag(@user.profile_pic.url(:medium), :class => "img-circle") %>
			<%= form_for @user, html: { multipart: true } do |f| %>
				<%= f.label :profile_pic %>
				<%= f.file_field :profile_pic %>
				<%= f.label :first_name %>
				<%= f.text_field :first_name, class: "form-control", placeholder: @user.first_name, autofocus: true %>
				<br>
				<%= f.label :last_name %>
				<%= f.text_field :last_name, class: "form-control", placeholder: @user.last_name %>
				<br>
				<%= f.label :username %>
				<%= f.text_field :username, class: "form-control", placeholder: @user.username %>
				<br>
				<%= f.label :current_city %>
				<%= f.text_field :current_city, class: "form-control", placeholder: @user.current_city %>
				<br>
				<%= f.submit 'Update Profile', class: "btn btn-default" %>
			<% end %>
		</div>
	</div>
</div>

