<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="well">
      <h4 class="text-center">Sign Up</h4>
      <br>
      <!-- error message -->
      <% if @users_error %>
        <div class="alert alert-info text-center alert-danger"><%= flash[:error] %></div>
      <% end %>
      <div id="sign-up-form">
        <%= form_for :user, url: '/users' do |f| %>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-control", placeholder: 'Jane', autofocus: true %>
          <br>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-control", placeholder: 'Smith' %>
          <br>
          <%= f.label :username %>
          <%= f.text_field :username, class: "form-control", placeholder: 'Janesmith10' %>
          <br>
          <%= f.label :current_city %>
          <%= f.text_field :current_city, class: "form-control", placeholder: 'San Francisco' %>
          <br>
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control", placeholder: 'jane.smith@gmail.com' %>
          <br>
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control", placeholder: 'password' %>
          <br>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: 'confirm password' %>
          <br>
          <div class="text-right">
            <%= f.submit 'signup', value: "Sign up!", class: "btn btn-default text-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
   