<div class="container">
	<div class="row">
		<!-- User Info -->
		<div class="col-md-3 col-md-offset-1" id="user-info">
			<br>
			<%= image_tag @user.profile_pic.url(:medium) %>
			<h3><%= @user.username %></h3>
			<h4><%= current_user.first_name + " " + current_user.last_name %></h4>
			<p><%= @user.current_city %></p>
			<p> Joined <%= time_ago_in_words(@user.created_at) %> ago </p>
			<%= link_to "Edit Profile", edit_user_path, class: "btn btn-primary" %>
			<%= link_to "New Post", new_post_path , class: "btn btn-primary" %>
		</div>
		<!-- Profile Stream -->
		<div class="col-md-6">
			<div class="row" id="profile-content">
				<% @posts.reverse.each do |p| %>
					<div>
						<p><h3><%= link_to p.title, post_path(p) %> </h3> in <%= p.city %></p>
						<p><%= p.content %></p>
						<p>Posted <%= time_ago_in_words (p.created_at)%> ago by <%= @user.username %></p>
					</div>
				<% end %>
				
			</div>
		</div>
	</div>
</div>