<div class="container" id="profile">
	<div class="row">
		<!-- User Info -->
		<div class="col-sm-4" id="user-info">
			<br>
			<%= image_tag(@user.profile_pic.url(:medium), :class => "img-circle", :id => "profile-pic") %>
			<h3><%= @user.username %></h3>
			<h4><%= current_user.first_name + " " + current_user.last_name %></h4>
			<p> Current City : <%= @user.current_city %></p>
			<p> Joined <%= time_ago_in_words(@user.created_at) %> ago </p>
			<%= link_to 'Edit Profile', edit_user_path, method: :get, class: 'btn btn-primary' %>
			<%= link_to "New Post", new_post_path , method: :get, class: "btn btn-primary" %>
			<br>
			<div id="contributor">
				<p> Contributor to: <br> 
					<%= @contributors[0] %><br>  
					<%= @contributors[1] %><br>
					<%= @contributors[2] %>
				</p>
			</div>
		</div>
<!-- Profile Stream -->
		<div class="col-sm-6 col-sm-offset-6" id="profile-content">
			<% @posts.reverse.each do |p| %> 
				<div class="well">
					<p><h3><%= link_to p.title, post_path(p), class: "profile-link" %> <small> in <%= p.city %></small></h3></p>
					<p><%= truncate(p.content, length: 100, omission: "... %s") % link_to('read more', post_path(p), class: "read-link") %></p>
					<p><span class="posted">Posted <%= time_ago_in_words (p.created_at)%> ago by </span><%= @user.username %></p><br>
				</div>
			<% end %>	
		</div>
	</div>
</div>

