<div class="container" id="profile">
	<div class="row">
		<!-- User Info -->
		<div class="col-sm-3 col-sm-offset-1" id="user-info">
			<br>
			<%= image_tag(@user.profile_pic.url(:medium), :class => "img-circle", :id => "profile-pic") %>
			<h3><%= @user.username %></h3>
			<h4><%= current_user.first_name + " " + current_user.last_name %></h4>
			<p> Current City : <%= @user.current_city %></p>
			<p> Joined <%= time_ago_in_words(@user.created_at) %> ago </p>
			<%= link_to 'Edit Profile', '#', class: 'btn btn-primary', data: { toggle: "modal", target: "#edit-profile-modal" } %>
			<%= link_to "New Post", new_post_path , class: "btn btn-primary" %>
			<br>
			<div id="contributor">
				<p> Contributor to: <br> 
					<%= @contributors[0] %><br>  
					<%= @contributors[1] %><br>
					<%= @contributors[2] %>
				</p>
			</div>
		</div>
		<!-- Profile Stream -->
		<div class="col-sm-6 col-sm-offset-5">
			<div class="row" id="profile-content">
				<% @posts.reverse.each do |p| %> 
					<div>
						<p><h3><%= link_to p.title, post_path(p) %> </h3> in <%= p.city %></p>
						<p><%= truncate(p.content, length: 100, omission: "... %s") % link_to('read more', post_path(p)) %></p>
						<p>Posted <%= time_ago_in_words (p.created_at)%> ago by <%= @user.username %></p>
					</div>
				<% end %>	
			</div>
		</div>
	</div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit-profile-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <%= image_tag(@user.profile_pic.url(:medium), :class => "img-circle", :id => "profile-pic") %>
				<%= form_for @user, html: { multipart: true } do |f| %>
				<%= f.label :profile_pic %>
				<%= f.file_field :profile_pic %>
				<%= f.label :first_name %>
				<%= f.text_field :first_name, class: "form-control", placeholder: @user.first_name, autofocus: true %>
				<br>
				<%= f.label :last_name %>
				<%= f.text_field :last_name, class: "form-control", placeholder: @user.last_name %>
				<br>
				<%= f.label :username %>
				<%= f.text_field :username, class: "form-control", placeholder: @user.username %>
				<br>
				<%= f.label :current_city %>
				<%= f.text_field :current_city, class: "form-control", placeholder: @user.current_city %>
				<br>
				<%= f.submit 'Update Profile', class: "btn btn-default" %>
			<% end %>
      </div>
    </div>
  </div>
</div>

