<!-- Index Page City Pictures -->
<div class="row cover">
  <div class="col-md-4 cover-img">
    <a href="/cities/1">
      <img class="grayscale grayscale-fade" src="http://images.fineartamerica.com/images-medium-large/san-francisco-city-view-fuminana.jpg"></a>
  </div>
  <div class="col-md-4 cover-img">
    <a href="/cities/2">
      <img class="grayscale grayscale-fade" src="http://www.networkrail.co.uk/uploadedImages/networkrail.co.uk/Contents/Improvements/Stafford_%E2%80%93_Norton_Bridge(1)/Images/BirdseyeCGI(1).jpg"></a>
  </div>
  <div class="col-md-4 cover-img">
    <a href="/cities/3">
      <img class="grayscale grayscale-fade" src="http://www.businessdestinations.com/wp-content/uploads/2013/12/Tokyo-city-800x600.jpg"></a>
    </div>
</div> 

<!-- sign up modal -->
<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <%= form_for :user, url: '/users' do |f| %>
					<%= f.label :first_name %>
					<%= f.text_field :first_name, class: "form-control", placeholder: 'Jane', autofocus: true %>
					<br>
					<%= f.label :last_name %>
					<%= f.text_field :last_name, class: "form-control", placeholder: 'Smith' %>
					<br>
					<%= f.label :username %>
					<%= f.text_field :username, class: "form-control", placeholder: 'Janesmith10' %>
					<br>
					<%= f.label :current_city %>
					<%= f.text_field :current_city, class: "form-control", placeholder: 'San Francisco' %>
					<br>
					<%= f.label :email %>
					<%= f.email_field :email, class: "form-control", placeholder: 'jane.smith@gmail.com' %>
					<br>
					<%= f.label :password %>
					<%= f.password_field :password, class: "form-control", placeholder: 'password' %>
					<br>
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation, class: "form-control", placeholder: 'confirm password' %>
					<br>
					<%= f.submit 'signup', value: "Sign up!", class: "btn btn-default" %>
				<% end %>
      </div>
    </div>
  </div>
</div>

<!-- log in modal -->
<div class="modal fade" id="log-in-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log In</h4>
      </div>
      <div class="modal-body">
        <%= form_for :user, url: sessions_path do |f| %>
  				<%= f.label :email %>
  				<%= f.email_field :email, placeholder: "Email", class: "form-control", autofocus: true %>
  				<br>
  				<%= f.label :password %>
  				<%= f.password_field :password, class: "form-control", placeholder: 'Password' %>
  				<br>
  				<%= f.submit 'signup', value: "Log in!", class: "btn btn-default" %>
  			<% end %>
      </div>
    </div>
  </div>
</div>