<div class="container welcome">
<div id="city-skw-pages">
  <div class="skw-pages">
    <div class="skw-page skw-page-1 active">
      <div class="skw-page__half skw-page__half--left">
        <div class="skw-page__skewed">
          <div class="skw-page__content"></div>
        </div>
      </div>
      <div class="skw-page__half skw-page__half--right">
        <div class="skw-page__skewed">
          <div class="skw-page__content">
            <h2 class="skw-page__heading home-links"><%= link_to "San Francisco", '/cities/1' %></h2>
            <p class="skw-page__description home-links"><%= link_to "Discover San Francisco", '/cities/1' %></p>
            <a class="skw-page__description home-links" href=""><i class="icon-chevron-down icon-4x"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="skw-page skw-page-2">
      <div class="skw-page__half skw-page__half--left">
        <div class="skw-page__skewed">
          <div class="skw-page__content">
            <a class="skw-page__description" href=""><i class="icon-chevron-up icon-4x"></i></a>
            <h2 class="skw-page__heading"><%= link_to "London", '/cities/2' %></h2>
            <p class="skw-page__description"><%= link_to "Discover London", '/cities/2' %></p>
            <a class="skw-page__description" href=""><i class="icon-chevron-down icon-4x"></i></a>
          </div>
        </div>
      </div>
      <div class="skw-page__half skw-page__half--right">
        <div class="skw-page__skewed">
          <div class="skw-page__content"></div>
        </div>
      </div>
    </div>
    <div class="skw-page skw-page-3">
      <div class="skw-page__half skw-page__half--left">
        <div class="skw-page__skewed">
          <div class="skw-page__content"></div>
        </div>
      </div>
      <div class="skw-page__half skw-page__half--right">
        <div class="skw-page__skewed">
          <div class="skw-page__content">
            <a class="skw-page__description" href=""><i class="icon-chevron-up icon-4x"></i></a>
            <h2 class="skw-page__heading"><%= link_to "Tokyo", '/cities/3' %></h2>
            <p class="skw-page__description"><%= link_to "Discover Tokyo", '/cities/3' %></p>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
