<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for @post do |f| %>
      <!-- error message -->
      <% if @post_edit_error %>
        <div class="alert alert-info text-center alert-danger"><%= flash[:error] %></div>
      <% end %>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: 'Title', autofocus: true %>
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control", placeholder: 'Content' %>
      <br>
      <%= f.label :city %>
      <%= f.select :city, ['San Francisco', 'London', 'Tokyo'], :selected => "San Francisco", class: "form-control btn-group" %>
      <br>
      <!-- button with delete modal in -->
      <%= link_to 'Delete', '#', class: 'btn btn-danger', data: {toggle: "modal", target: "#delete-modal"}  %>  
      <span class="pull-right">
        <%= f.submit 'Submit', value: "Submit", class: "btn btn-primary" %> 
      </span>
    <% end %>
  </div>
</div>

<%= render 'layouts/delete_confirmation_modal' %>
