<div class="container">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="well">	
			<h2 class="text-center">New Post</h2>
			<%= form_for @post do |f| %>
				<%= f.label :title %>
				<%= f.text_field :title, class: "form-control", placeholder: 'Title', autofocus: true %>
				<br>
				<%= f.label :content %>
				<%= f.text_area :content, class: "form-control", placeholder: 'Content' %>
				<br>
				<%= f.label :city %>
				<%= f.text_field :city, class: "form-control", placeholder: 'city' %>
				<br>
				<%= f.submit 'post', value: "Post!", class: "btn btn-default" %>
			<% end %>
		</div>
	</div>
</div>
