<div class="container post-container" id="post">
  <!-- left hand div -->
  <div class="col-sm-4" id="city-info">
    <br>
    <% if @city_name == 'San Francisco' %>
      <%= image_tag(asset_path('sf_small.jpg'), :class => "img-circle", :id => "city-pic") %>
    <% elsif @city_name == 'London' %>
      <%= image_tag(asset_path('l_small.jpg'), :class => "img-circle", :id => "city-pic") %>
    <% elsif @city_name == 'Tokyo' %>
      <%= image_tag(asset_path('t_small.jpg'), :class => "img-circle", :id => "city-pic") %>
    <% end %>
    <h3 class="city-name"><%= @city_name.upcase %></h3>
    <br>
  </div>
  <!-- Profile Stream -->
  <div class="col-sm-6 col-sm-offset-6" id="profile-content">
    <h3><%= @post.title %> <small id="city"><%= link_to @post.city, '/cities/'+@city, class: "post-link" %></small></h3>
    <p><%= @post.content %></p>
    <span><span id="created-by">Created by: </span><%= @author.username %></span>
    <% if @post.user_id == current_user.id %>
      <span class="pull-right">
        <%= link_to 'Edit', edit_post_path, class: 'btn btn-primary' %>
      </span>
      <hr>
    <% end %>
  </div>
</div>