<div class="container">
	<div class="col-sm-6 col-sm-offset-3">
		<% @posts.each do |p| %>
			<div class="posts">
				<strong><%= p.title %></strong> in <%= p.city %>
				<br>
				<%= p.content %>
				<p>Posted <%= time_ago_in_words (p.created_at)%> ago by <%= @user.username %></p>
				<hr>
			</div>
		<% end %>	
	</div>
</div>

