<div class="container">
	<div class="col-sm-6 col-sm-offset-3">
		<% @posts.each do |p| %>
			<div class="posts">
				<% if @user %>
					<h3><strong><%= link_to p.title, post_path(p) %></strong></h3> 
				<% else %>
					<h3><strong><%= p.title %></strong></h3> 
				<% end %>
				<span class="pull-right">in <%= p.city %></span>
				<br>
				<%= truncate(p.content, length: 100, omission: "... %s") % link_to('read more', post_path(p)) %>
				<p>Posted <%= time_ago_in_words (p.created_at)%> ago by 
					<!-- logic to find author of each p -->
					<% user_id = p.user_id %>
					<% author = User.find(user_id) %>
					<%= author.username %>
				</p>
				<hr>
			</div>
		<% end %>	
		<!-- pagination -->
		<div id="infinite-scrolling">
		  <%= will_paginate @posts %>
		</div>
	</div>
</div>
