<div class="container city-container">
	<!-- left hand div -->
	<div class="col-sm-4" id="city-info">
		<br>
		<% if @city.name == 'San Francisco' %>
			<%= image_tag(asset_path('sf_small.jpg'), :class => "img-circle", :id => "city-pic") %>
		<% elsif @city.name == 'London' %>
			<%= image_tag(asset_path('l_small.jpg'), :class => "img-circle", :id => "city-pic") %>
		<% elsif @city.name == 'Tokyo' %>
			<%= image_tag(asset_path('t_small.jpg'), :class => "img-circle", :id => "city-pic") %>
		<% end %>
		<h3 class="city-name"><%= @city.name.upcase %></h3>
		<br>
	</div>
	<!-- right hand div -->
	<div class="col-sm-6 col-sm-offset-6" id="city-content">
		<div class="posts"> 
			<% @posts.each do |p| %>
				<% if @user %>
					<!-- If user is logged in, they can see post titles as links to posts -->
					<h3><strong><%= link_to p.title, post_path(p), class: "city-link" %> </strong><small> in <%= p.city %></small></h3> 
				<% else %>
					<!-- if user is not logged in, post titles are not links -->
					<h3><strong><%= p.title %> </strong><small> in <%= p.city %></small></h3>
				<% end %>
				<% if @user %>
					<!-- if logged in, truncated post links to full post -->
					<p><%= truncate(p.content, length: 100, omission: "... %s") % link_to('read more', post_path(p), class: "read-more-link") %></p>
				<% else %>
				<!-- if not logged in, truncated post shows tooltip and does not link -->
					<p><%= truncate(p.content, length: 100, omission: "... %s") % link_to('read more', '/welcome/convert', class: "read-more-link",
						:data => { 
							:toggle => 'tooltip',
							:original_title => 'Login for full post.'
							}
						) %></p>
				<% end %>
				<p>Posted <%= time_ago_in_words (p.created_at)%> ago by 
					<!-- logic to find author of each p -->
					<% user_id = p.user_id %>
					<% author = User.find(user_id) %>
					<!-- if user is logged in, they can visit other users profile pages -->
					<% if @user %>
						<%= link_to author.username, user_path(author), class: "username-link" %>
					<!-- if user not lgoged in, usernames are not links -->
					<% else %>
						<% author.username %>
					<% end %>
				</p>
				<hr>
			<% end %>	
		</div>
		<!-- pagination -->
		<div id="infinite-scrolling">
		  <%= will_paginate @posts %>
		</div>
	</div>
</div>