<!DOCTYPE html>
<html>
<head>
  <title>TravelGems</title>
  <!-- images to grayscale cdn --> 
  <link href="//cdn.jsdelivr.net/jquery.gray/1.4.5/gray.min.css" rel="stylesheet">
  <!-- Google Maps API -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgXVtqnJYdNwT8U3s17i3hIRQoqE-17jA&libraries=places"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- render navbar -->
<%= render "layouts/navbar" %>

<!-- include signup and login modals on all pages -->
<%= render "layouts/signup_login_modals" %>

<!-- include delete post modal -->

<%= yield %>

<!-- Images to grayscale cdn for welcome#index-->
<script src="//cdn.jsdelivr.net/jquery.gray/1.4.5/jquery.gray.min.js"></script>
</body>
</html>
