<!DOCTYPE html>
<html>
<head>
  <title>Metropolist</title>
  <!-- icons cdn -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- google fonts Raleway and Poiret One -->
  <link href='https://fonts.googleapis.com/css?family=Raleway|Poiret+One' rel='stylesheet' type='text/css'>
  <!-- favicon links -->
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" type="image/png" href="/public/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/public/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/public/favicons/favicon-48x48.png" sizes="48x48">

</head>
<body>

  <!-- render navbar -->
  <%= render "layouts/navbar" %>
  <%= yield %>

  <!-- This line is here so that the javascript files load on redirect within site -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>